$colors: (
  green: #95c11F,
  dark-grey: #3C3C3B,
  grey: #6c6D70,
  light-grey: #F8F8F8
);

html, body{
  overflow: hidden;
  width: 100%;
}

a{
  &:hover,
  &:focus,
  &:active{
    color: map-get($colors, dark-grey);
  }
}

.wrapper,
.page-wrapper,
.page,
.page-inner{
  height: 100%;
}

.wrapper{
  padding: 15px;
  overflow: hidden;
  background-color: map-get($colors, light-grey);
}

.page-wrapper{
  background-image: url('../img/domaine-de-syam/1.jpg');
  background-size: cover;
  overflow: hidden;
}

.page--landing{
  background-color: rgba(0, 0, 0, 0.3);
}

.title{
  margin-bottom: 0;
  position: relative;
  height: 100%;
}

.title__link{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}

.tree-house{
  position: relative;
  height: 100%;
}

.windows{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0) rotate(45deg);
}

.window{
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  line-height: 300px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 25px;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

  &:hover{
    color: map-get($colors, dark-grey);
  }
}

.window__border{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  border: 2px solid #FFFFFF;
  transform-origin: 50%;
  transform: translate3d(-50%,-50%,0);
}

.window__border--offset{
  top: 52%;
  left: 52%;
}

.window--little{
  width: 150px;
  height: 150px;
  line-height: 150px;

  .window__border{
    width: 150px;
    height: 150px;
  }

  .window__border--offset{
    top: 54%;
    left: 54%;
  }
}

.window--middle{
  clear: both;
  margin-right: 25px;
}

.window__content{
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
  max-width: 100%;
  position: relative;
  z-index: 2;
  transform: rotate3d(0,0,1,-45deg);
}

.window__title{
  line-height: 1;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0.5rem;
  word-wrap: break-word;
  hyphens: auto;
}

.window--little .window__title{
  font-size: 1.2rem;
}

/*
 * Button effect
 */
.btn{
  &:before,
  &:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    position: absolute;
    transition: 0.5s;
  }

  &:before{
    border-color: transparent transparent transparent #FFFFFF;
    bottom: 0;
    left: 0;
  }

  &:after{
    border-color: transparent #FFFFFF transparent transparent;
    top: 0;
    right: 0;
  }

  .btn__content{
    &:before,
    &:after{
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 0 0;
      position: absolute;
      transition: 0.5s;
    }

    &:before{
      border-color: transparent transparent #FFFFFF transparent;
      right: 0;
      bottom: 0;
    }


    &:after {
      border-color: #FFFFFF transparent transparent transparent;
      top: 0;
      left: 0;
    }
  }

  &:hover{
    &:before{
      border-width: 300px 0 0 300px;
    }

    &:after{
      border-width: 0 300px 300px 0;
    }

    .btn__content:before{
      border-width: 0 0 300px 300px;
    }

    .btn__content:after{
      border-width: 300px 300px 0 0;
    }
  }
}

.btn--little:hover{
  &:before{
    border-width: 150px 0 0 150px;
  }

  &:after{
    border-width: 0 150px 150px 0;
  }

  .btn__content:before{
    border-width: 0 0 150px 150px;
  }

  .btn__content:after{
    border-width: 150px 150px 0 0;
  }
}