@import 'components/mayfair';

$colors: (
  green: #95c11F,
  dark-grey: #3C3C3B,
  grey: #6c6D70,
  light-grey: #F8F8F8
);

html, body{
  overflow: hidden;
  width: 100%;
}

a{
  &:hover,
  &:focus,
  &:active{
    color: map-get($colors, dark-grey);
  }
}

.wrapper,
.page-wrapper,
.page,
.page-inner{
  height: 100%;
}

.wrapper{
  padding: 15px;
  overflow: hidden;
  background-color: map-get($colors, light-grey);
}

.page-dummy{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  background-color: #FFFFFF;
  border: 15px solid #FFFFFF;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.page-wrapper{
  background-size: cover;
  overflow: hidden;
}

.landing{
  background-image: url('../img/domaine-de-syam/7.jpg');
  @include mayfair();
}

.belvedere{
  background-image: url('../img/cabanes-et-lodges-du-belvédère/7.jpg');
  @include mayfair();
}

.page{
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-inner{
  position: relative;
}

.title{
  margin-bottom: 0;
  position: relative;
  height: 100%;
}

.title__link{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}

.windows{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0) rotate(45deg);
}

.window{
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  line-height: 300px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px rgba(60, 60, 59, 0.5);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

  .window__border{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border: 2px solid #FFFFFF;
    transform-origin: 50%;
    transform: translate3d(-50%,-50%,0);
  }

  .window__border--offset{
    top: 52%;
    left: 52%;
  }
}

.window.btn:hover{
  color: map-get($colors, dark-grey);
}

.window.btn:active{
  color: #FFFFFF;
}

.window--top{
  margin-bottom: 25px;
}

.window--middle{
  clear: both;
  margin-right: 25px;
}

.window--big{
  width: 600px;
  height: 600px;
  line-height: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  color: map-get($colors, dark-grey);

  .window__border{
    width: 600px;
    height: 600px;
  }

  .window__border--offset{
    width: 580px;
    height: 580px;
    top: 50%;
    left: 50%;
  }
}

.window--little{
  width: 150px;
  height: 150px;
  line-height: 150px;

  .window__border{
    width: 150px;
    height: 150px;
  }

  .window__border--offset{
    top: 54%;
    left: 54%;
  }
}

.window__content{
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
  max-width: 100%;
  position: relative;
  z-index: 2;
  transform: rotate3d(0, 0, 1, -45deg);
}

.window__content--big{
  padding: 30px 50px;
  transform: rotate3d(0, 0, 1, -45deg);
}

.window__suptitle,
.window__title,
.window__subtitle,
.window__text{
  transition: transform 0.5s, opacity 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.window__suptitle{
  display: block;
  transition-delay: 0.15s;
  opacity: 1;
}

.window__suptitle--big{
  font-size: 1.5rem;
}

.window__title{
  line-height: 1.2;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0.5rem;
  word-wrap: break-word;
  hyphens: auto;
  transition-delay: 0.1s;
  opacity: 1;
}

.window__title--big{
  font-size: 3rem;
}

.window__title--little{
  font-size: 1.2rem;
}

.window__subtitle{
  display: block;
  transition-delay: 0s;
  opacity: 1;
}

.window__subtitle--big{
  font-size: 1.5rem;
}

.window__text{
  margin-top: 1rem;
  margin-bottom: 0;
  transition-delay: 0.2s;
  opacity: 1;

  &:before{
    content: '';
    display: block;
    margin: 0 auto 1rem;
    width: 25%;
    height: 1px;
    background-color: map-get($colors, dark-grey);
    opacity: 0.5;
  }
}

/*
 * Button effect
 */
.btn{
  &:before,
  &:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    position: absolute;
    transition: 0.3s;
  }

  &:before{
    border-color: transparent transparent transparent #FFFFFF;
    bottom: 0;
    left: 0;
  }

  &:after{
    border-color: transparent #FFFFFF transparent transparent;
    top: 0;
    right: 0;
  }

  .btn__content{
    &:before,
    &:after{
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 0 0;
      position: absolute;
      transition: 0.3s;
    }

    &:before{
      border-color: transparent transparent #FFFFFF transparent;
      right: 0;
      bottom: 0;
    }

    &:after {
      border-color: #FFFFFF transparent transparent transparent;
      top: 0;
      left: 0;
    }
  }

  &:hover{
    &:before{
      border-width: 300px 0 0 300px;
    }

    &:after{
      border-width: 0 300px 300px 0;
    }

    .btn__content:before{
      border-width: 0 0 300px 300px;
    }

    .btn__content:after{
      border-width: 300px 300px 0 0;
    }
  }
}

.btn--little:hover{
  &:before{
    border-width: 150px 0 0 150px;
  }

  &:after{
    border-width: 0 150px 150px 0;
  }

  .btn__content:before{
    border-width: 0 0 150px 150px;
  }

  .btn__content:after{
    border-width: 150px 150px 0 0;
  }
}


/*
 * Window click
 */
.window__suptitle--loading{
  transition-delay: 0s;
  opacity: 0;
  transform: translate3d(0, -80px, 0);
}

.window__title--loading{
  transition-delay: 0.1s;
  opacity: 0;
  transform: translate3d(0, -90px, 0);
}

.window__subtitle--loading{
  transition-delay: 0.15s;
  opacity: 0;
  transform: translate3d(0, -100px, 0);
}

.window__text--loading{
  transition-delay: 0.20s;
  opacity: 0;
  transform: translate3d(0, -150px, 0);
}

.window__placeholder{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 1;
  transform-origin: 50%;
  background-color: #FFFFFF;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: scale3d(1, 1, 1);
}

.window__placeholder--loading{
  transform: scale3d(8, 8, 1);
}

.window__placeholder--shrink{
  transition: opacity 0.55s;
  opacity: 0;
}

.window__placeholder--hide{
  display: none;
}

.page-wrapper--hide{
  display: none;
}

.page-dummy--show{
  opacity: 1;
}